<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body class="courtDetails">
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>

      <nav class="navRight">
        <a href="/login"><button class="out">Log Out</button></a>
      </nav>
    </header>

<div class="court-listings">
  <div class="court-name">
    <%= bbCourt %>
  </div>
<form class="" action="/api/court" method="post">
  <input type="text" name="userName" placeholder="enter your name" value="<%=user.local.email%>" hidden>
  <input type="text" name="courtName" value="<%= bbCourt %>" hidden>
  <%# <input id="addPlayerInput" type="button" value="+"/> %>
  <input type="date" name="date" value="4/25/2019">
  <input type="time" name="startTime" value="1:00PM-">
  <input type="time" name="stopTime" value="2:00PM">
  <button type="submit" name="button">submit</button>
</form>

<h3 class="courtEjs" >Address </h3> <%= JSON.stringify(courtDetails.result.formatted_address) %>

<h3 class="courtEjs" >Hours </h3>

<ul>
  <%
  if('opening_hours' in courtDetails.result) { //string in object returns true if object has that key
    courtDetails.result.opening_hours.weekday_text.map(day =>{ //true, run this
  %>
  <li class="day">
    <%= day %>
  </li>
  <% })
} else { // not true, display following message
  %>
  <li>Open 24 hours</li>
<% } %>
</ul>

<h3 class="courtEjs" >Pictures </h3>
<% if ('photos' in courtDetails.result) { %>
  <img class="courtsPic" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photoreference=<%= courtDetails.result.photos[0].photo_reference %>&key=AIzaSyDLa-Y8sYQtEwMsS27acKPci1WHBQH_330" alt="">
<% } else { %>
  <% if (bbCourt === "Titus Sparrow Court") {%>
  <img class="courtsPic" src="img/bbc3.jpeg" alt="">
  <%}%>
  <% if (bbCourt === "Meadows Basketball Courts") {%>
  <img class="courtsPic" src="img/bbc2.jpeg" alt="">
  <%}%>
  <% if (bbCourt === "Basketball Court @ Andrew P. Puopolo. Junior Athletic Field") {%>
  <img class="courtsPic" src="img/bbc4.jpeg" alt="">
  <%}%>
  <% if (bbCourt === "Bemis Basketball Court") {%>
  <img class="courtsPic" src="img/bbc7.jpeg" alt="">
  <%}%>
  <% if (bbCourt === "RiverSide Press Park") {%>
  <img class="courtsPic" src="img/bbc8.jpeg" alt="">
  <%}%>
  <% if (bbCourt === "Cambridge Athletic Club") {%>
  <img class="courtsPic" src="img/bbc9.jpeg" alt="">
  <%}%>


<% } %>
</div>
<footer></footer>
<script>
  console.log(<%- JSON.stringify(courtDetails) %>)
</script>
<script src="/court.js" charset="utf-8"></script>
</body>
</html>
