<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

</head>
<body class="mapPage">
  <header>
    <nav>
      <a href="/">Home</a>
    </nav>

    <nav class="navRight">
      <a href=<%=`/playerCard/${user.local.email}`%>><button class="playerProfile">Player Profiles</button></a>
      <a href="/login"><button class="playerProfile">Log Out</button></a>
    </nav>
  </header>

  <div id="map"></div>
  <section class="map">
    <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:42.340338, lng:-71.090241},
        center: {lat:42.344272, lng:-71.094478},
        center: {lat:42.367608, lng:-71.078487},
        center: {lat:42.410307, lng:-71.058906},
        center: {lat:42.362249, lng:-71.115393},
        center: {lat:42.375753, lng:-71.197038},
        center: {lat:42.292250, lng:-71.084647},
        center: {lat:42.357776, lng:-71.160271},
        center: {lat:42.343986, lng:-71.080252},
        center: {lat:42.369395, lng:-71.054815},
        // center: {lat:, lng:},
        // center: {lat:, lng:},
        // center: {lat:, lng:},
        zoom: 12
      });

      var marker;
      <% for(var i=0; i<court.length; i++) {%>
        marker = new google.maps.Marker({
          position: {lat:<%= court[i].lat %>, lng:<%= court[i].lon %>},
          map,
          title: "<%= court[i].name %>"
        });
        marker.addListener('click', function() {
          window.location="/court?courtName=<%= court[i].name %>"
        });

        <% } %>
      }

      </script>

  <div class="mainContainer">
    <div class ="gameListing">
      <!-- Hi, <span><%= user.local.email %></span> -->
      <h2 class="upcoming" >Upcoming Games</h2>
      <ul>
        <% for(var i=0; i<games.length; i++) {%>
          <% if(games[i].fullGame ===false) {%>
          <li class="games">
            <span class="gameL" onloadedmetadata=""><%= `Host: ${games[i].host}`%></span>
            <span><a class="gameL" class="courtName" href="/court?courtName=<%= games[i].courtName %>"><%= `Court: ${games[i].courtName}`%></a></span>
            <span class="gameL" ><%= `Date: ${games[i].date}`%></span>
            <span class="time"> <%= `Time: ${games[i].startTime}`%></span>
            <span class="time"> <%= games[i].stopTime%></span>
            <span class="gameL" ><%= `Roster: ${games[i].players}`%></span>
            <span class="gameL" ><%= `Players: ${games[i].players.length}`%></span>
            <% if(games[i].players.includes(user.local.email)) {  %>
              <button class="removeMe" data-userId="<%= user.local.email %>" data-gameId="<%= games[i]._id %>">Remove Me!</button>
            <% } else { %>
              <button class="joinButton" data-userId="<%= user.local.email %>" data-gameId="<%= games[i]._id %>">Join Game</button>
            <% } %>
            <% if(games[i].host === user.local.email) {  %>
              <button class="deleteGame" data-gameId="<%= games[i]._id %>">Delete Game :(</button>
            <% } %>
          </li>
          <% } %>
          <% } %>
        </ul>
      </div>

      <div class ="gameListing">
        <!-- Hi, <span><%= user.local.email %></span> -->
        <h2 class="upcoming">Full Games</h2>
        <ul>
          <% for(var i=0; i<games.length; i++) {%>
            <% if(games[i].fullGame ===true) {%>
            <li class="games">
              <span class="gameL" ><%= `Host: ${games[i].host}`%></span>
              <span><a class="gameL" class="courtName" href="/court?courtName=<%= games[i].courtName %>"><%= `Court: ${games[i].courtName}`%></a></span>
              <span class="gameL" ><%= `Date: ${games[i].date}`%></span>
              <span class="time"> <%= `Time: ${games[i].startTime}`%></span>
              <span class="time"> <%= games[i].stopTime%></span>
              <span class="gameL" ><%= `Roster: ${games[i].players}`%></span>
              <span class="gameL" ><%= `Players: ${games[i].players.length}`%></span>
              <% if(games[i].players.includes(user.local.email)) {  %>
                <button class="removeMe" data-userId="<%= user.local.email %>" data-gameId="<%= games[i]._id %>">Remove Me!</button>
              <% } else { %>
                <!-- <button class="joinButton" data-userId="<%= user.local.email %>" data-gameId="<%= games[i]._id %>">Join Game</button> -->
              <% } %>
              <% if(games[i].host === user.local.email) {  %>
                <button class="deleteGame" data-gameId="<%= games[i]._id %>">Delete Game :(</button>
              <% } %>
            </li>
            <% } %>
            <% } %>
          </ul>
        </div>
      </div>

    <!-- <span><% court._id %></span>
    <%= court %> -->
    </section>
    <footer></footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa-Y8sYQtEwMsS27acKPci1WHBQH_330&callback=initMap"
    async defer></script>
    <script src="main.js" charset="utf-8"></script>
    </body>
    </html>
